<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AALEU</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <header class="header">
      <div class="logo">
          <img src="./img/AALEU-removebg-preview.png" alt="AALEU">
      </div>
      <nav>
          <ul class="menu">
              <li><a href="../../index.html">Inicio</a></li>
              <li><a href="../../view/esp/tablon.html">Noticias</a></li>
              <li>
                  <a href="#">Idiomas</a>
                  <ul>
                      <li><a href="../../index.html">Spanish</a></li>
                      <li><a href="../../view/ing/ingles.html">English</a></li>
                      <li><a href="../../view/frances/frances.html">French</a></li>
                      <li><a href="../../view/ale/aleman.html">German</a></li>
                      <li><a href="../../view/chino/chino.html">Chinese</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
      <a class="btn" href="../ing/colaboraciones.html"><button>Contact to us</button></a>
      <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <ul class="menu">
          
            <li>
                <a href="#">Menu</a>
                <ul>
                    <li><a href="../../index.html">Spanish</a></li>
                    <li><a href="../../view/chino/chino.html">Chinese</a></li>
                    <li><a href="../../view/frances/frances.html">French</a></li>
                    <li><a href="../../view/ale/aleman.html">German</a></li>
                    <li><a href="../../view/ing/ingles.htmll">English</a></li>
                    <li><a href="../../index.html">Index</a></li>
                    <li><a href="../../view/esp/tablon.html">News</a></li>
                </ul>
      </div>
  </header>
  <!-- Resto del contenido -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuToggle = document.getElementById('mobile-menu');
        const navMenu = document.getElementById('nav-menu');
        const mobileSubmenu = document.querySelector('.mobile-submenu');
  
        menuToggle.addEventListener('click', () => {
            navMenu.classList.toggle('active');
            mobileSubmenu.classList.toggle('active');
        });
    });
  </script>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../img/negroyblanco.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../img/todosunidos.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100">
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
            <br>
            <br>

    
            <h1 class="texto1">Who are we?</h1>
            <p class="texto">At Aaleu, we are dedicated to the eradication of racism in every corner of the world. We firmly believe that diversity is our greatest strength and that everyone, regardless of our ethnicity, skin color or beliefs, deserves equal opportunities and respect. With a presence on five continents, we work tirelessly to foster inclusion, intercultural understanding and mutual respect. From our community initiatives to our global collaborations, we are committed to creating a world where every individual can flourish without fear of discrimination or prejudice. At Aaleu, we believe in unity in diversity. Together, we are building a more equitable future, where every voice is heard and every person is valued for their uniqueness and contribution to society. Join us on this mission to create a world where we are all recognized for who we are: human beings, equal in dignity and rights.</p>
            <br>
            <br>
            <br>
            <div class="clearfix">
              
              <img src="../../img/Manostierra.jpg" class="right-image" alt="...">
            
              <h1 class="texto1">What is our objective?</h1>
              <p>
                
              </p>
            <br>
              <p>
                The Aaleu Foundation is dedicated to the eradication of racism in all its forms and manifestations. Its primary goal is to promote equality and respect among all people, regardless of race or ethnicity. Through educational programs, awareness campaigns and community projects.
              </p>
            <br>
              <p>
                Aaleu works to build a more inclusive and equitable society where diversity is seen as a strength and everyone has the same opportunities to thrive.
              </p>
            </div>
            <br>
            <br><br>
            <br>
            <br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            
            


              <footer>
                <div class="footer-container">
                    <div class="footer-content-container">
                        <h3 class="website-logo">Aaleu</h3>
                        <span class="footer-info">+34 654 234 234</span>
                        <span class="footer-info">aaleu@gmail.com</span>
                    </div>
                    <div class="footer-menus">
                        <div class="footer-content-container">
                            <span class="menu-title">Menu</span>
                            <a href="" class="menu-item-footer">Home</a>
                        </div>
                        
                    </div>
                    
                    <div class="footer-content-container">
                        <span class="menu-title">Follow us</span>
                        <div class="social-container">
                            <a href="" class="social-link"> <img class="social-link" src="../../img/Facebook.png" alt=""></a>
                            <a href="" class="social-link"> <img class="social-link" src="../../img/Instagram.png" alt=""></a>
                            <a href="" class="social-link"> <img class="social-link" src="../../img/Twitter.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="copyright-container">
                    <span class="copyright">Copyright 2024, aaleu.com All rights reserved.</span>
                </div>
            </footer>
  </div>
  